// ================ Personalisation des variables ====================//

// ================ font family ====================//

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

$title-font:'Playfair Display', serif;
$font-base:'Playfair Display', serif;

// ================ colors ====================//
$primary : none;
$secondary : none;
$tertiary : none;