
@import "./tools/variables";
@import "./layouts/header";
@import "./layouts/footer";
@import "./Pages/index";
@import "./Pages/catalogue";


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: linear-gradient(top, white, black);
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
}

.zoom {
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}