<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="./src/dist/style.css">
<style>

/* Début du panier tableau avec produits */
#app{
    margin: 5% 5%;
    background-color: lightgrey;
}

/* Section servant de "header" à l'app*/
section .container-header {
  margin-bottom: 1.5rem;
}
section .menu {
  color: #7d7d7d;
}

section .menub li {
  float: left;
  padding: 0 6px;
  height: 20px;
  line-height: 20px;
}

section .menu li:first-child {
  padding-left: 2px;
}

section .menu li:not(:last-child)::after {
  content: " \276f";
  padding-left: 8px;
}
section .count {
  float: right;
  color: #333333;
  height: 20px;
  line-height: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

</style>
</head>
<body>
  <header>

    <nav>
    
        <div class="header">
            
             <a href="#" class="zoom" id="logo">OriCamera</a>
            
            <div class="links">
    
                <a href="#">
                   <button class="toggle image" id="menu-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                  </button>
               </a>
    
                <ul>
    
                    <li class="zoom"><a href="index.html">Accueil</a></li>
                    <li class="zoom"><a href="catalogue.html">Catalogue</a></li>
                    <li class="checkout zoom">
                        <a href="confirmation-commande.html">
                            <i class="fa fa-shopping-cart red"></i>  Votre panier 
                            <span class="badge badge-red" id="nbrArticles">0</span>
                        </a>
                    </li>
                
                </ul>
    
            </div>
            
        </div>
            
    </nav>
  
</header>

    <main class="main">

        <div id="app">

            <section class="container-header"> <!-- Section servant de "header" à l'app -->
                <h1>Votre Panier</h1>
                    <ul class="menu">
                        <li>
                            <a href="index.html">Accueil</a>
                        </li>
                        <li>
                            <a href="catalogue.html">Catalogue</a>
                        </li>
                        <li>
                            <a href="#">Panier</a>
                        </li>
                        <li>
                          <a href="./confirmation-commande.html">Confirmation</a>
                      </li>
                    </ul>
                <span class="count">Votre panier</span>
            </section>
          
            <!-- Product List -->
            <section class="container">
              <div v-if="products.length > 0">
                <ul class="products">
                <li class="row" v-for="(product, index) in products">
                  <div class="col left">
                    <div class="thumbnail">
                      <a href="#">
                        <img :src="#" :alt="#" />
                      </a>
                    </div>
                    <div class="detail">
                      <div class="name"><a href="#"> product.name </a></div>
                      <div class="description"> product.description </div>
                      <div class="price"> product.price | currencyFormatted </div>
                    </div>
                  </div>
          
                  <div class="col right">
                    <div class="quantity">
                      <input type="number" class="quantity" step="1" :value="product.quantity" @input="updateQuantity(index, $event)" @blur="checkQuantity(index, $event)" />
                    </div>
                    
                    <div class="remove">
                      <svg @click="removeItem(index)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
                    </div>
                  </div>
                </li>
              </ul>
              </div>
              <div v-else class="empty-product">
                <h3>There are no products in your cart.</h3>
                <button>Shopping now</button>
              </div>
            </section>
            <!-- End Product List -->
            
            <!-- Summary -->
            <section class="container" v-if="products.length > 0">
              <div class="promotion">
                <label for="promo-code">Have A Promo Code?</label>
                <input type="text" id="promo-code" v-model="promoCode" /> <button type="button" @click="checkPromoCode"></button>
              </div>
          
              <div class="summary">
                <ul>
                  <li>Subtotal <span>{{ subTotal | currencyFormatted }}</span></li>
                  <li v-if="discount > 0">Discount <span>{{ discountPrice | currencyFormatted }}</span></li>
                  <li>Tax <span>{{ tax | currencyFormatted }}</span></li>
                  <li class="total">Total <span>{{ totalPrice | currencyFormatted }}</span></li>
                </ul>
              </div>
          
              <div class="checkout">
                <button type="button">Check Out</button>
              </div>
            </section>
            <!-- End Summary -->
          </div>
    </main>

  <footer>
      <div >
          <ul class="list-inline footer__div text-center">
              <li class="list-inline-item footer__item zoom">
                  <a href="#">
                      <i class="fas fa-balance-scale footer__icon"></i>
                      <p>Mentions légales</p>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#">
                      <i class="fas fa-user-lock footer__icon"></i>
                      <p>Protection des données</p>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#">
                      <i class="fas fa-cogs footer__icon"></i>
                      <p>CGV</p>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#">
                      <i class="fas fa-cookie footer__icon"></i>
                      <p>Cookies</p>
                  </a>
              </li>
          </ul>
      </div>
      <div>
          <ul class="list-inline footer__div text-center">
              <li class="list-inline-item footer__item zoom">
                  <a href="#">
                      <i class="fab fa-twitter-square footer__icon"></i>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#"><i class="fab fa-instagram-square footer__icon"></i>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#"><i class="fab fa-facebook footer__icon"></i>
                  </a>
              </li>
              <li class="list-inline-item footer__item zoom">
                  <a href="#"><i class="fab fa-pinterest footer__icon"></i>
                  </a>
              </li>
          </ul>
      </div>
  </footer>

  
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>