/* 1. Settings - Preprocessors variables, fonts, imports, etc. */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/* 2. Tools - mixins */


/* 3. Generic - very generic CSS rules */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  font-family: 'Playfair Display', serif;
}
body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, snow, black);
    overflow: hidden;
    margin: 20px 0;
    padding: 0;
}
button {
  color: black !important;
  border: none;
  background: none;
  cursor: pointer;
}
button:hover{
  color: #530101 !important;
}
.zoom {
    transition: transform 0.2s ease;
}
.zoom:hover {
    transform: scale(1.1);
}
/*     Le header est identique sur toutes les pages     */

/*     début du header  */
header {
  margin: 0px auto;
  position: relative;
  z-index: 100;
}

nav {
  background-color: lightgrey;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px solid black;
}
nav .header {
  margin: 0% auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}
nav .header .links ul {
  list-style: none;
}
nav .header .links ul li {
  display: inline-block;
  /*float:left;*/
  padding: 10px;
  font-size: 18px;
}
nav .header .links ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
nav .header .links ul li a:hover {
  color: black;
}
nav .header #logo {
  margin: 8px 0 10px 0px;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: black;
  float: left;
  height: 45px;
  display: block;
}
nav .header #logo img {
  width: 170px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(70%);
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: ease 0.2s;
}
nav .header #logo:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}
nav .header .links {
  float: right;
  padding: 18px;
}
nav .header .links .toggle {
  display: none;
}
nav .header .links #menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
}
nav .header .links .toggle > span {
  display: block;
  border-radius: 20px;
  height: 5px;
  width: 34px;
  background: black;
  margin: auto;
  margin-bottom: 3px;
}
.liste-items {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 14px;
  font-weight: bold;
  list-style-type: none;
  height: 100%;
  line-height: 50px;
  font-size: 22px;
}
.items {
  cursor: pointer;
  margin: 0 20px;
  flex-shrink: 0;
  width:150px;
  text-align: center;
}
/* Sous liste 1 */

.sous-liste {
  position: relative;
  display: none;
  
}
.items-sous-liste {
  list-style-type: none;
  word-break: break-word;
  text-align: center;
  padding: 0 10px;
  background:snow;
  border-bottom: 1px solid black;
  width: 110px;
}
.items-sous-liste:hover {
  background:rgb(175, 130, 88);
}
.items-sous-liste:nth-child(3) {
  height: 50px;
}
.items:hover > ul {
  display: block;
}

/*     fin du header     */

/*     Le footer est identique sur toutes les pages     */

/*     début du footer     */
footer {
  background-color: lightgrey;
  border-bottom: 5px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: -20px auto 0px auto;
  z-index: 100;
  position: relative;
}

footer ul {
  margin: 10px auto 10px;
}
footer ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
footer ul li a:hover {
    color: black;
}
/*     fin du footer     */


@media (min-width: 320px) and (max-width: 768px) {
  header {
    margin: -10px auto;
  }
  header nav .header #logo {
    font-size: 24px;
  }
  header nav .header .links {
    padding: 20px 20px;
    float: right;
  }
  header nav .header .links #menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  header nav .header .links ul {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 250, 250, 0.7);
    top: 76px;
    right: 0px;
    width: 100%;
  }
  header nav .header .links:hover ul {
    display: block;
  }
  header nav .header .links ul li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }

  footer div:nth-child(2) {
    margin: -15px auto 5px;
  }
  footer ul {
    margin: 10px auto -8px;
  }
  footer ul li {
    padding: 5px;
  }
  footer ul li a p {
    font-size: 10px;
    font-weight: bold;
  }
  footer ul .list-inline-item {
    margin: 0px;
  }
  footer ul .list-inline-item:not(:last-child) {
    margin-right: 0rem;
  }
  footer ul li .zoom {
    transition: transform 0.2s ease;
  }
  footer ul li .zoom:hover {
    transform: scale(1.5);
  }
}
