@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
}

body {
  width: 100%;
  height: 86vh;
  background-color: whitesmoke;
  overflow: hidden;
  margin: 20px 0;
  padding: 0;
}

.zoom {
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.zoom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*     Le header est identique sur toutes les pages     */
/*     début du header  */
header {
  margin: 0px auto;
}

nav {
  background-color: lightgrey;
  width: 100%;
  height: 76px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 5px solid black;
}

nav .header {
  margin: 0% auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

nav .header .links ul {
  list-style: none;
}

nav .header .links ul li {
  display: inline-block;
  /*float:left;*/
  padding: 10px;
  font-size: 18px;
}

nav .header .links ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav .header .links ul li a:hover {
  color: black;
}

nav .header #logo {
  margin: 20px 0 20px 0px;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  color: black;
  float: left;
  height: 45px;
  display: block;
}

nav .header #logo:hover {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

nav .header .links {
  float: right;
  padding: 18px;
}

nav .header .links a .toggle {
  display: none;
}

nav .header .links a #menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
}

nav .header .links a .toggle > span {
  display: block;
  border-radius: 20px;
  height: 5px;
  width: 34px;
  background: black;
  margin: auto;
  margin-bottom: 3px;
}

/*     fin du header     */
/*     début du main     */
main {
  height: 100%;
  margin: auto;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .accueil {
  padding: 0px 0px 30px 0px;
  margin: auto;
  height: 100%;
  width: 100%;
  background: url("https://cdn.pixabay.com/photo/2014/05/03/00/42/photography-336608_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  -webkit-filter: sepia(90%);
          filter: sepia(90%);
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
}

main .accueil .space__title {
  padding-top: 100px;
}

main .accueil .space__title .accueil__title {
  margin: 11vh auto 20px;
  text-align: center;
  height: auto;
  color: black;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
  font-size: 2.3rem;
}

main .accueil .accueil__description {
  text-align: center;
  color: black;
  margin: 20px auto;
  font-size: 1.2rem;
  background-color: rgba(255, 250, 250, 0.5);
  border-radius: 25px;
}

main .accueil .accueil__description :nth-last-child(2) {
  margin: 0px auto 30px;
  font-size: 1.2rem;
}

main .accueil .accueil__description :nth-last-child(3) {
  margin: 0px auto 10px;
  font-size: 1.2rem;
}

main .accueil .accueil__description :nth-last-child(1) {
  font-size: 16px;
  font-weight: bold;
  color: #530101;
  margin: 0px auto 55px;
}

/*     fin du main     */
/*     début du footer     */
footer {
  background-color: lightgrey;
  margin-bottom: 0px;
  border-bottom: 5px solid black;
  text-align: center;
  position: relative;
}

footer ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer ul li a:hover {
  color: black;
}

/*     fin du footer     */
/*-----------page catalogue-----------*/
/*main*/
.main .productSelect {
  margin: 10px auto;
}

.main .productSelect .productSelect__box {
  margin: 30px auto 0px;
}

.main .productSelect .productSelect__box .productSelect__title {
  font-size: 2.2rem;
  font-weight: 600;
  color: black;
}

.main #return-icon {
  margin: 0px auto;
  color: black;
}

.main {
  height: 85vh;
  margin: auto;
  padding: 0px 0px 30px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
}

.main .container-principal {
  height: content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

.content-cart {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
  margin: 20px 10px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.content-cart .cart {
  width: 100%;
  height: 260px;
  border: solid 2px #F2F2F2;
  border-radius: 20px;
  -webkit-box-shadow: 6px 8px 9px #d9d9d9;
  box-shadow: 6px 8px 9px #d9d9d9;
  background-color: white;
  position: relative;
  margin: 20px auto;
}

.content-cart .cart .menu-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.content-cart .cart .menu-link .container-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.content-cart .cart .menu-link .name {
  font-family: "Roboto", serif;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0px;
  padding: 0px 10px;
}

.content-cart .cart .menu-link .price {
  font-family: "Roboto", serif;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  padding: 0px 10px;
  margin-top: -25px;
}

.content-cart .cart .btn {
  border: none;
  position: absolute;
  color: white;
  background-color: black;
  width: 60px;
  height: 30px;
  right: -85%;
  bottom: -80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.content-cart .cart .btn .button {
  font-size: 1em;
  color: lightgray;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

.content-cart .cart .btn .button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content-cart .cart .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-link .warning {
  position: absolute;
  padding: 10px 20px;
  background-color: rgba(119, 2, 2, 0.8);
  right: 32px;
  margin-top: 10px;
  z-index: 1;
  border-radius: 5px;
  color: black;
  font-size: 14px;
  font-weight: bold;
}

.btn-add {
  border: none;
  position: absolute;
  right: 40px;
  bottom: 45px;
  color: white;
  background-color: white;
}

.btn-add .fa-cart-plus {
  position: absolute;
  left: 3px;
  top: 6px;
  width: 10px;
  height: 10px;
  margin-top: -15px;
}

.btn-add .fas {
  font-size: 1rem;
  opacity: 1;
  color: black;
  margin-top: -15px;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.btn-add .fas:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: red;
}

.cart .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity 50ms;
  transition: opacity 50ms;
  visibility: hidden;
  opacity: 0;
  height: 600px;
  width: 100%;
}

.cart .overlay .popup {
  margin: 0px 0%;
  padding: 5px;
  background: rgba(1, 1, 1, 0.6);
  border-radius: 5px;
  width: 100%;
  height: 600px;
  position: relative;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  z-index: 1100;
}

.cart .overlay .popup h2 {
  color: snow;
  margin-top: 0;
  font-family: Tahoma, Arial, sans-serif;
}

.cart .overlay .popup .close {
  color: snow;
  -webkit-transition: -webkit-transform all 0.3s ease-out;
  transition: -webkit-transform all 0.3s ease-out;
  transition: transform all 0.3s ease-out;
  transition: transform all 0.3s ease-out, -webkit-transform all 0.3s ease-out;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.cart .overlay .popup .close:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.cart .overlay .popup .content {
  max-height: 100%;
  overflow: auto;
}

.cart .overlay .popup .content-overlay {
  background-color: snow;
  height: 520px;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

/*---------------page confirmation commande------------------*/
.contenaire-confirm {
  height: 100%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenaire-confirm .confirm .text-center {
  margin: 0px auto;
}

.contenaire-confirm .confirm .text-center .confirm__details .confirmation-price, .contenaire-confirm .confirm .text-center .confirm__details .confirmation-ref {
  font-size: 1.3em;
}

@media (min-width: 320px) and (max-width: 768px) {
  header {
    margin: -10px auto;
  }
  header nav .header #logo {
    font-size: 24px;
  }
  header nav .header .links {
    padding: 20px 20px;
    float: right;
  }
  header nav .header .links a #menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  header nav .header .links ul {
    display: none;
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 250, 250, 0.7);
    top: 76px;
    right: 0px;
    width: 100%;
  }
  header nav .header .links:hover ul {
    display: block;
  }
  header nav .header .links ul li {
    text-align: center;
    width: 100%;
    padding: 15px 0;
    margin: 0;
  }
  main .accueil .intro__box {
    padding-top: auto;
    margin: -90px auto auto auto;
    height: 100%;
  }
  main .accueil .intro__box .space__title {
    margin-top: 20px;
  }
  main .accueil .intro__box .space__title .accueil__title {
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description {
    font-size: 14px;
    background-color: rgba(255, 250, 250, 0.5);
    border-radius: 25px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(2) {
    margin: 0px auto 30px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(3) {
    margin: 0px auto 10px;
  }
  main .accueil .intro__box .accueil__description :nth-last-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: #530101;
  }
  .main .productSelect .productSelect__box {
    margin: 50px auto 0px;
  }
  .main .productSelect .productSelect__box .productSelect__title {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .main .container-pricipal .content-cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-cart .cart .btn {
    right: -75%;
  }
  footer ul li {
    padding: 5px;
  }
  footer ul li a p {
    font-size: 10px;
    font-weight: bold;
  }
  footer ul .list-inline-item {
    margin: 0px;
  }
  footer ul .list-inline-item:not(:last-child) {
    margin-right: 0rem;
  }
  footer ul li .zoom {
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
  }
  footer ul li .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .contenaire-confirm .confirm {
    padding: 0px;
  }
  .contenaire-confirm .confirm .text-center .confirm__title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
/*# sourceMappingURL=style.css.map */